/* Визначення шрифта для відображення */
@font-face {
    font-family: "Page_Font";
    src: url('file:///android_asset/fonts/#FT');
}

/* Основний контейнер */
body {
    height: 100%;
    font-family: "Page_Font";
	font-size: #FSpx;
	line-height: 1.25;
    color: #C3;                                                                  /* Колір тексту */
	background: #C1;                                                            /* Фоновий колір */
	-webkit-tap-highlight-color: rgba(0,0,0, 0.1);   /* Вимкнення "підсвітки" елементів сторінки */
}

/* Кольори посилань */
A         { color: #C5; }                                                     /* Колір посилання */
A:active  { color: #C2; background: #C4; }                          /* Колір активного посилання */
A:visited { color: #C2; background: #C4; }                      /* Колір використаного посилання */

/* Параметри картинок */
img {
    width: 100%;
    height: auto;
}

/* Параметри блоків */
p {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Заголовок статті */
h2 {
	font-size: 140%;
	margin: 3% 0.5% 1.5%;
	text-align: left;
    line-height: 1.15;
    color: #C3;                                                        /* Колір заголовку новини */
}

/* Блок дати і часу новини */
.time {
	display: block;
	float: left;
	font-size: 90%;
	text-align: center;
	padding: 0.5% 1.5%;
	color: #C2;                                                                  /* Колір тексту */
	background: #C4;                                                               /* Колір фону */
}

/* Блок переходу на новий рядок після блоку часу і дати */
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

/* Підзаголовок статті */
.item-subtitle {
	font-style: italic;
	margin: 1.5% 0% 0%;
    line-height: 1.15;
}

/* Підпис зображення */
.item-content .item-image span {
	display: block;
	text-align: center;
	font-style: italic;
    line-height: 1.3;
    margin: 0% 0% 0%;
    padding: 1.5% 3%;
    color: #C2;                                                                  /* Колір тексту */
    background: #C4;                                                               /* Колір фону */
}

/* Підпис авторських прав */
.item-rights {
    font-size: 70%;
}

/* Відступи по боках сторінки */
.center-content {
    padding-left: #MG%;
    padding-right: #MG%;
}